auto-save-list
server
straight
var
early-init.el
init.el
recentf
savehist
backups
history
places
bookmarks
elpa
/amx-items
/company-statistics-cache.el
/projectile-bookmarks.eld
/transient/
